/* body {
   color: #084211;
} */

#hero img {
   width: 100%;
   object-fit: cover;
   height: 80vh;
}

#experience {
   text-align: center;
}


/* @media (max-width: 576px) {
   #hero img {
      height: -webkit-fill-available;
   }
} */


