body {
   /* color: #096d18; */
   color: #585b66;
   /* color: #43454c; */
   font-family: 'Montserrat', ;
   
}

/* #31343C */
/* paleta de colores:
#585b66 
#3D8894
#f47721 */

header .navbar-color {
   
   background: linear-gradient(90deg, rgba(88,91,102,1) 20%, rgba(67,69,76,1) 60%, rgba(49,52,60,1) 90%);
}

#hero img {
   width: 100%;
   /* object-fit: cover;
   height: 80vh; */
}

#hero .row p {
   margin-bottom: 0;
}

#hero .h-content {
   display: flex;
}

#hero .h-content .row {
   align-items: center;
   margin: auto;
}

#hero h2 strong {
   color: #f06529;
}

#about-me .content {
   text-align: center;
}

#about-me p {
   font-weight: bold;
   font-size: 19px;
}

#about-me .btn-about-me {
   color: #ffffff;
   background-color: #005A58;
   border-color: #005A58;
}

#about-me span {
   display: none;
}

h3 {
   color: #43454c;
   font-weight: bold;
   text-transform: uppercase;
}

#experience {
   text-align: center;
}

#experience .wrap-ring-and-rebel, .wrap-front {
   font-size: 65px;
}

#experience .fab, .fas {
   margin: 10px;
}

#experience p {
   font-size: 18px;
}

#technologies {
   text-align: center;
}

#technologies .fab {
   font-size: 100px;
}

#technologies .i-html {
   color: #f06529;
}

#technologies .i-css {
   color: #2965f1;
}

#technologies .i-js {
   color: #F7DF1E;
}

#technologies .i-btp {
   color: #563d7c;
} 

#technologies .carousel-indicators {
   position: relative;
   top: 10px;
}

#technologies .carousel-indicators li {
   background-color: #373A3C;
   width: 10px;
   height: 10px;
   border-radius: 100%;
}

#last-works {
   text-align: center;
}

#last-works .mar-c {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

#last-works .btn-cards {
   color: #ffffff;
   background-color: #005A58;
   border-color: #005A58;
}

#last-works .card-text {
   text-align: start;
}

#contact {
   text-align: center;
}

#contact .container {
   /* background: #31343C; */
}

#contact .row {
   /* margin-top: 4rem;
   margin-bottom: 4rem; */
}



@media (min-width: 768px) {
   
   #hero img {
      height: 300px;
      object-fit: cover;
   }

   #technologies .wrap-icons-left {
      position: relative;
      width: 30%;
      left: 50%;

   }

   #technologies .wrap-icons-rigth {
      position: relative;
      width: 30%;
      left: 20%;
   }
   
   #cad-1, #cad-2, #cad-3, #cad-4, #cad-5 {
      height: 100%;
   }

}

/* @media (max-width: 576px) {
   #hero .row p {
      margin-bottom: 0;
   }
} */




