body {
   color: #096d18;
   /* color: #31343C; */
   font-family: 'Quicksand';
   
}

/* #31343C */

#hero img {
   width: 100%;
   object-fit: cover;
   height: 80vh;
}

#about-me .content {
   text-align: center;
}

#about-me span {
   display: none;
}

#experience {
   text-align: center;
}

#experience .wrap-ring-and-rebel, .wrap-front {
   font-size: 65px;
}

#experience .fab, .fas {
   margin: 10px;
}

#experience p {
   font-size: 18px;
}

#technologies {
   text-align: center;
}

#technologies .fab {
   font-size: 100px;
}

#technologies .i-html {
   color: #f06529;
}

#technologies .i-css {
   color: #2965f1;
}

#technologies .i-js {
   color: #F7DF1E;
}

#technologies .i-btp {
   color: #563d7c;
} 


#technologies .carousel-indicators {
   position: relative;
   top: 10px;
}

#technologies .carousel-indicators li {
   background-color: #373A3C;
   width: 10px;
   height: 10px;
   border-radius: 100%;
}

#last-works {
   text-align: center;
   /* background: #048e19; */
}

#contact {
   text-align: center;
}

#contact .container {
   background: #31343C;
}

#contact .row {
   margin-top: 4rem;
   margin-bottom: 4rem;
}



@media (min-width: 768px) {
   #technologies .wrap-icons-left {
      position: relative;
      width: 30%;
      left: 50%;

   }

   #technologies .wrap-icons-rigth {
      position: relative;
      width: 30%;
      left: 20%;
   }

}

/* @media (max-width: 576px) {
   #hero img {
      height: -webkit-fill-available;
   }
} */


